---
layout: default
title: Hermitage Demo
---

<h2>Demo</h2>

<div class="row">

  <div class="span2">
    <ul class="nav nav-tabs nav-stacked">
      <li{% if page.url contains 'default' %} class="active"{% endif %}>
        <a href="/demo/default.html">Default</a>
      </li>
      <li{% if page.url contains 'darkening' %} class="active"{% endif %}>
        <a href="/demo/darkening.html">Darkening</a>
      </li>
    </ul>

    <p class="muted">More customization options later</p>
  </div>

  <div class="span10">
    <div>
      {{ content }}
    </div>


    <ul class="thumbnails">
      <li class="span5">
        <a href="{% asset_path 0.png %}" class="thumbnail" rel="hermitage">
          {% image thumbnails/0.png %}
        </a>
      </li>

      <li class="span5">
        <a href="{% asset_path 1.png %}" class="thumbnail" rel="hermitage">
          {% image thumbnails/1.png %}
        </a>
      </li>

      <li class="span5">
        <a href="{% asset_path 2.png %}" class="thumbnail" rel="hermitage">
          {% image thumbnails/2.png %}
        </a>
      </li>

      <li class="span5">
        <a href="{% asset_path 3.png %}" class="thumbnail" rel="hermitage">
          {% image thumbnails/3.png %}
        </a>
      </li>
    </ul>

  </div>

</div>