---
layout: default
title: Hermitage Demo
---

<h2>Demo</h2>

<div class="row">

  <div class="span3">
    <ul class="nav nav-list">
      {% include demo_link.html link="default" text="Default" %}
      {% include demo_link.html link="preload_neighbours" text="Neighbours preload" %}
      {% include demo_link.html link="animation_duration" text="Animation duration" %}
      <li class="nav-header">Darkening</li>
      {% include demo_link.html link="darkening_opacity" text="Opacity" %}
      {% include demo_link.html link="darkening_style" text="Style" %}
      <li class="nav-header">Slideshow effects</li>
      <li>Slide (default)</li>
      {% include demo_link.html link="fade" text="Fade" %}
      <li class="nav-header">Navigation</li>
      {% include demo_link.html link="navigation_disable" text="Disable" %}
      {% include demo_link.html link="loop" text="Loop" %}
      {% include demo_link.html link="navigation_style" text="Style" %}
      <li class="nav-header">Close button</li>
      {% include demo_link.html link="close_button_disable" text="Disable" %}
      {% include demo_link.html link="close_button_style" text="Style" %}
      <li class="nav-header">Image</li>
      {% include demo_link.html link="image_style" text="Style" %}
      <li class="nav-header">Bottom panel</li>
      {% include demo_link.html link="bottom_panel_text" text="Text" %}
      {% include demo_link.html link="bottom_panel_style" text="Style" %}
      <li class="nav-header">Resize</li>
      {% include demo_link.html link="minimum_size" text="Minimum size" %}
      {% include demo_link.html link="resize_timeout" text="Timeout" %}
    </ul>
  </div>

  <div class="span9">
    <div>
      {{ content }}
    </div>

    <ul class="thumbnails">
      {% include gallery_thumbnail.html image="0.png" %}
      {% include gallery_thumbnail.html image="1.png" %}
      {% include gallery_thumbnail.html image="2.png" %}
      {% include gallery_thumbnail.html image="3.png" %}
      {% include gallery_thumbnail.html image="4.png" %}
      {% include gallery_thumbnail.html image="5.png" %}
      {% include gallery_thumbnail.html image="6.png" %}
      {% include gallery_thumbnail.html image="7.png" %}
    </ul>

    <div class="cats-copyright muted">
      Awesome cats by
      <a href="http://habrahabr.ru/users/centaurus/" target="_blank">this guy</a>
    </div>

  </div>

</div>