---
layout: default
title: Hermitage Demo
---

<h2>Demo</h2>

<div class="row">

  <div class="span3">
    <ul class="nav nav-list">
      {% include demo_link.html link="default" text="Default" %}
      {% include demo_link.html link="preload_neighbours" text="Neighbours preload" %}
      <li class="nav-header">Darkening</li>
      {% include demo_link.html link="darkening_opacity" text="Opacity" %}
      {% include demo_link.html link="darkening_style" text="Style" %}
      <li class="nav-header">Slideshow effects</li>
      <li>Slide (default)</li>
      {% include demo_link.html link="fade" text="Fade" %}
      <li class="nav-header">Navigation</li>
      {% include demo_link.html link="navigation_disable" text="Disable" %}
      {% include demo_link.html link="loop" text="Loop" %}
      {% include demo_link.html link="navigation_style" text="Style" %}
    </ul>

    <p class="muted">More customization options later</p>
  </div>

  <div class="span9">
    <div>
      {{ content }}
    </div>


    <ul class="thumbnails">
      {% include gallery_thumbnail.html image="0.png" %}
      {% include gallery_thumbnail.html image="1.png" %}
      {% include gallery_thumbnail.html image="2.png" %}
      {% include gallery_thumbnail.html image="3.png" %}
    </ul>

  </div>

</div>